 <div class="image-with-text__grid grid grid--gapless grid--1-col grid focus-inset{{ section.settings.contain_aligment }}
       {% if block.settings.logo_aligment.current %}aria-current="page" class="active" {% endif %}" 
            style="text-align:{{section.settings.contain_aligment}}">
    <div class="heading-pregraph">
          <h1>{{ section.settings.heading }}</h1>
              <div class="paragraph">
                   {% if section.settings.paragraph  != blank %}{{ section.settings.paragraph }}{% endif %}
              </div>
      </div>
          <div class="img1">
               {% if section.settings.first_image  != blank %}
                     {{ section.settings.first_image | image_url: width: 600 | image_tag }}
                {% endif %}
          </div>
</div>


{% schema %}
  {
    "name": "custom_img_text",
    "settings": [
    {
      "type": "richtext",
      "id": "paragraph",
      "label": "Paragraph"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Enter your Heading"
    },
     {
        "id":"first_image",
        "type":"image_picker",
         "label":"Your Image"
    },
       {
        "type": "radio",
         "id": "contain_aligment",
        "label": "Contain alignment",
        "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "right"
        }
        ],
           "default": "right"
         },
       {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "image-first"
        },
        {
          "value": "text_first",
          "label": "text-first"
        }
      ],
      "default": "image_first",
      "label": "image-first",
      "info": "t:sections.image-with-text.settings.layout.info"
    }
    ],
    "presets": [
      {
        "name": "custom_img_text",
        "category": "contant"
      }
    ]
  }
{% endschema %}

